
/************* Base Styles ******************/

* {
	box-sizing: border-box;
}

img {
	max-width:100%;
}

body {
	background-image: url("/assets/img/hotel.jpg");
	font-family: 'Open Sans', sans-serif;
	color:#e5e4e5;
	border-top: solid 4px #e5e4e5;
	 background-repeat: no-repeat;
    background-size: cover;


}

a {
	text-decoration: none;
	color:#e5e4e5;
}
a:hover {
	color:#d79277;
}

h1 {
	margin: 0px;
}

.wrap {
	
	
	min-height: calc(100vh - 92px);
}

.current ~ div {
	display: none;

}


ul {
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
/************* Base Styles ******************/

/**************Layout Styles**************************/


header {
	background-color: #1f1f21;
	text-align: center;
}

.container {
	padding: 10px;


}


.main p {
	line-height: 2em;

}

#start {

	display: block;
	border: solid  1px #e5e4e6;
	padding: 10px;
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	max-width: 100%;
	width:500px;
}

#start:hover {
	background-color: #fff;
	color:#000;

}

/************* Body ***********************/

/********************************************

Listing Type
****************************************/

.listingChoice {

	border: solid  1px #e5e4e6;
	display: block;
	padding:10px;
	margin-bottom:1px;
}

.listingChoice img {
	display: block;
	margin-top: .5em;
}

input [type="radio"] {
	display: inline-block;
}

/********************************************
Category
****************************************/

.category-list li{
	margin-bottom: 10px;

} 

.category-list label, .serviceTerritory label {
	padding-left: 10px;
}

/********************************************
Company Info
****************************************/
.companyInfo label, .submitterInfo label {
	display: block;
}

.companyInfo [type="text"], 
textarea,
.submitterInfo [type="text"],
.submitterInfo [type="email"]
 {
	margin-bottom: 1em;
	width: 100%;
	max-width: calc(100vh - 1em);

}

