
/************* Base Styles ******************/

* {
	box-sizing: border-box;
}

img {
	max-width:100%;
}

body {
	background-image: url("/assets/img/hotel.jpg");
	font-family: 'Open Sans', sans-serif;
	color:#e5e4e5;
	border-top: solid 4px #e5e4e5;
	 background-repeat: no-repeat;
    background-size: cover;

}

.container {
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
	color:#e5e4e5;
}
a:hover {
	color:#d79277;
}

h1 {
	margin: 0px;
}

.wrap {
	
	
	min-height: calc(100vh - 92px);
	background-color: rgba(0, 0, 0, 0.5);
}

.current ~ div {
	display: none;

}


ul {
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}

.headLogo {
	width: 150px;
	
	display: none;
	
}

.deadline {
	
	display: none;
}



.submit {

	width: 100%;
	text-align: center;
}

[type="submit"] {
	max-width:100%;
	width:200px;
	height:50px;
	background-color:#1f1f21;
	color:#fff;
	font-size:1em;
	margin:0 auto;

}

[type="submit"]:hover {
	color:#1f1f21;
	background-color:#eee;
}

/************* Base Styles ******************/

/**************Layout Styles**************************/


header {
	background-color: #1f1f21;
	text-align: center;
}

footer {
	background-color: #1f1f21;
	height:92px;
}

.container {
	padding: 10px;
}



h3 span {
	font-size:.70em;
}

label span {
	font-size:.75em;
}

.main p {
	line-height: 2em;

}

#start {

	display: block;
	border: solid  1px #e5e4e6;
	padding: 10px;
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	max-width: 100%;
	width:500px;
}

#start:hover {
	background-color: #fff;
	color:#000;

}

#next {
	float:right;
	display: inline-block;
}

#prev {
	float:left;
	display: inline-block;
}

#next,#prev {
	display:none;
}


/************* Body ***********************/

/********************************************

Listing Type
****************************************/

.listingChoice {

	border: solid  1px #e5e4e6;
	display: block;
	padding:10px;
	margin-bottom:1em;
}

.listingChoice img {
	display: block;
	margin-top: .5em;
}

input [type="radio"] {
	display: inline-block;
}


/********************************************
Category
****************************************/

.category-list li{
	margin-bottom: 10px;

} 

.category-list label, .serviceTerritory label {
	padding-left: 10px;
}

/********************************************
Company Info
****************************************/
.companyInfo label, .submitterInfo label {
	display: block;
}

 [type="text"], 
 [type="email"],
 textarea
 {
	margin-bottom: 1em;
	width: 100%;
	max-width: 100%;
	padding: 10px;
}

[type="tel"],
select {
	margin-bottom: 1em;
}

[type="text"],
[type="email"],
[type="tel"],
select 
{
	height:3em;
}

textarea {
	height:100px;
}


.companyInfo [type="placeholder"]{ 

	font-style: italic;
	color:#ddd;

}

@media  screen and (min-width: 768px) {

	.listingSection {
	 	
	 
	}

	.listingChoice  {
		width: 30%;
		float:left;
		display: inline;
		margin-right:15px;
	}



	.category-list li{

		display: inline-block;
		float:left;
		width:50%;

	}


	.companyInfo label,
	.submitterInfo label {
		float:left;
		width:250px;
	}


	.serviceTerritory li label {
		padding-right:10px;


	}


	[type="text"],
	[type="email"],
	textarea
	 {
		max-width: calc((100% - 250px) -  1em);	
	}

}

@media  screen and (min-width: 1024px){


	.container{
		width: 65%;

	}

	.headLogo{
		float:left;
	}

	.deadline {
		float:right;
	}



	.category-list li{

		display: inline-block;
		float:left;
		width:33%;

	}


}
