* {
	box-sizing: border-box;
}


.container {
	padding: 1em;
}

ul {
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}

.listing label + input{
	display: inline-block;
}

#submitter label + input,
#details label + select,
#details label + textarea,
#details label + input {
	display: block;
	margin-bottom:1em;
	width: 100%;
}


